dataset/
model/blood profile/yolov7/
model/blood profile/runs/
api/traced_model.pt
model/blood profile/traced_model.pt

web app/blood_profile/target/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
web app/blood_profile/.idea/modules.xml
web app/blood_profile/.idea/jarRepositories.xml
web app/blood_profile/.idea/compiler.xml
web app/blood_profile/.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store